<html>
  <head>
    <title>update password ||</title>
    <%- include('userHeader'); -%>
  </head>

  <body>
    <div class="global-container">
      <div class="card login-form">
        <div class="card-body">
          <h3 class="card-title text-center">Update Password</h3>
          <div class="card-text">
            <!--
                <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
            <form
              method="POST"
              action="http://localhost:8010/api/v1/auth/updatedPass/<%=email%>"
            >
              <!-- to error: add class "has-danger" -->
              <span style="color: red; font-size: large"> <%=mandatory%> </span>

              <div class="form-group">
                <label for="exampleInputPassword1">Current Password:</label
                ><span style="color: red; font-size: smaller">*</span>

                <input
                  type="password"
                  class="form-control form-control-sm"
                  id="exampleInputPassword1"
                  name="password"
                />
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">New Password:</label
                ><span style="color: red; font-size: smaller">*</span>

                <input
                  type="password"
                  class="form-control form-control-sm"
                  id="exampleInputPassword1"
                  name="changedPassword"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password:</label
                ><span style="color: red; font-size: smaller">*</span>

                <input
                  type="password"
                  class="form-control form-control-sm"
                  id="exampleInputPassword1"
                  name="confirmPassword"
                />
              </div>

              <div>
                <p>
                  <button type="submit" class="btn btn-danger btn-block">
                    Save password
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
