body{
    background-image: url(https://image.freepik.com/free-vector/gradient-liquid-abstract-background_52683-60469.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:round;
    background-size: 300px 300px;
    background-color: black;
  }